<!DOCTYPE HTML>
{% extends "base.html" %}
{% load staticfiles %}
{%block script%}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" />

<script>
$(document).ready(function() {

    //hide empty columns
    $('#sample tr th').each(function(i) {
     //select all tds in this column
     var tds = $(this).parents('table')
              .find('tr td:nth-child(' + (i + 1) + ')');
        //check if all the cells in this column are empty
        if(tds.length == tds.filter(':empty').length) { 
            //hide header
            $(this).hide();
            //hide cells
            tds.hide();
        } 
    }); 

	$('#sample').dataTable( {
        "pageLength": 20,
	"columnDefs": [
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function ( data, type, row ) {
                    return data;
                },
                "targets": 0
            },
            //{ "visible": false,  "targets": [ 4 ] }
        ]
    } );
} );
</script>

<script>
function popupwindow(url, title, w, h) {
  var left = (screen.width/2)-(w/2);
  var top = (screen.height/2)-(h/2);
  return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
}
</script>


{%endblock%}
{% block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/virtual/search">Planned MiSeq</a></li>
  <li class="active">Experiment Detail</li>

</ul>

{{alert|safe}}

<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab" >Experiments</a></li>
  <li class=""><a href="#logs" data-toggle="tab" >Logs</a></li>
  <li ><a href="#ana" data-toggle="tab" >Analysis</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Actions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" id='action'>
      <li><a href="/virtual/export/{{experiment.experiment_id}}/samplesheet/" target="_blank">Generate SampleSheet</a></li>
      <li class="divider"></li>
      <li><a href="/virtual/export/{{experiment.experiment_id}}/log/" target="_blank">Download Logs</a></li>
      <li class="divider"></li>
      <li><a href="/virtual/import/{{experiment.experiment_id}}" target="_blank">Import SampleSheet (Beta)</a></li>
    </ul>
  </li>

</li>
</ul>



<div id="myTabContent" class="tab-content">

  <div class="tab-pane fade active in" id="home">

    <div style="width: 95%;margin-left:auto;margin-right:auto;overflow-x: scroll;overflow-y: hidden;">

	<div style="min-height:10px;width: 40%;margin-left:auto;">
	<textarea rows="1" cols="1" style="background:#FFFFFF" onclick="this.focus();this.select()" readonly="readonly">http://rnai.pfizer.com/virtual/get/{{experiment.experiment_id}}/</textarea>
	</div>

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h2 style="float:left;margin-top: 2px;margin-bottom: 0px;margin-right: 20px;">Experiment  </h2>
	{%if experiment.created_by.NTID.upper == user.username.upper or user.username.upper in auth_users|key:experiment.experiment_id%}
	    <a href="/virtual/edit/{{experiment.experiment_id}}/" class="btn btn-default" style="position:relative;margin-right: 20px;">Edit</a>
	    <a href="/virtual/finish/{{experiment.experiment_id}}" class="btn btn-default" style="position:relative;margin-right: 20px;">Request Analysis</a>
	    <a href="/virtual/import/{{experiment.experiment_id}}" class="btn btn-default" style="position:relative;margin-right: 20px;">Import SampleSheet</a>
	{%endif%}
	    <a href="/virtual/export/{{experiment.experiment_id}}/samplesheet/" class="btn btn-default" style="position:relative;margin-right: 20px;">Generate SampleSheet</a>
	  </div> 
	 </div>

	  <div class="panel-body">
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Project Name: </strong>{% autoescape off %}{{experiment.get_taged_project_name}} {% endautoescape %}</div>
		<div class="well" style="margin-bottom: 2px; padding:5px;"><strong>Investigator Name: </strong> {% autoescape off %}{{experiment.get_taged_investigator_name}} {% endautoescape %}</div>
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>IEMFileVersion: </strong> {{experiment.version}}</div>
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Experiment Name: </strong> {{experiment.title}}</div>
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Date: </strong>{{ experiment.get_standard_experiment_date  }}</div>
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Workflow: </strong> {{experiment.workflow}}</div>
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Application: </strong> {{experiment.application}}</div>
		 <div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Assay: </strong> {{experiment.assay}}</div>
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Description: </strong> {{experiment.description}}</div>
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Chemistry: </strong> {{experiment.chemistry}}</div>
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Reads: </strong> {{experiment.reads}}</div>
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>ReverseComplement: </strong> {{experiment.reverse_complement}}</div>
	  </div>
	  <div class="panel-body">
                <div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Created By:  </strong> {{experiment.created_by}}</div>
                <div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Created Date: </strong> {{experiment.created_date}}</div>
        	{% if experiment.updated_by.id %}        
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Last Updated By: </strong> {{experiment.updated_by}}</div>
		<div class="well" style="margin-bottom: 2px;padding:5px;"><strong>Last Updated Date: </strong> {{experiment.updated_date}}</div>
		{% endif %}
	
	</div>

<hr>

	<div class="panel panel-info" style="width:95%;margin-left:auto;margin-right:auto;">
	  <div class="panel-heading" >
	    <h3>Samples</h3>
	  </div>
	</div>

{% if experiment.sample_set.all%}

<table id="sample" class="display" style="width: 95%;margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th>Sample_ID</th>
                <th>Cell Model</th>
		<th>shRNA Library</th>
		<th>Pool(s)</th>
                <th>I7_Index_ID</th>
                <th>index</th>
		<th>shRNA</th>
		<th>Cell Culture</th>
		<th>Time (days)</th>
		<th>Replicate</th>
		<th>Treatment(dose)</th>
		<th>Other Tag</th>
		<th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>

	<tbody>

	{% for sample in experiment.get_sorted_sample_set %}


	 <tr>
		<td>S{{forloop.counter}}</td>
                <td>{{sample.cell_model.CCLE_name}}</td>
		<td>{{sample.shRNA_library.LibName}}</td>
                <td>{{sample.get_pool_numbers_display}}</td>
		<td>{{sample.index.I7_Index_ID}}</td>
                <td>{{sample.index.index}}</td>
                <td>{{sample.get_shRNA_on_display}}</td>
		<td>{{sample.environment}}</td>
		<td>{{sample.time_in_days}}</td>
                <td>{{sample.replicate}}</td>
		<td>{{sample.get_treatment_dosage_display}}</td>
		<td>{{sample.other_tag}}</td>
                <td>{{sample.comment}}</td>
		<td>
		{% csrf_token %}

		{%if experiment.created_by.NTID.upper == user.username.upper or user.username.upper in auth_users|key:experiment.experiment_id%}	
		<button type="submit" class="btn btn-info btn-xs" style="position:relative;margin-right: 5px;" value="{{sample.id}}" onclick="popupwindow('/virtual/get/{{experiment.experiment_id}}/editsample/{{sample.id}}/','Edit Sample',700,770)">Edit</button>
			<button type="submit" class="btn btn-info btn-xs" style="position:relative;margin-right: 5px;" value="{{sample.id}}" onclick="popupwindow('/virtual/get/{{experiment.experiment_id}}/addsample/{{sample.id}}/','New Sample',700,770)">Copy</button>
			
			<form action="" method="post">{% csrf_token %}
			<button type="submit" class="btn btn-warning btn-xs" style="position:relative;margin-right: 5px;" name='delete_sam' value="{{sample.id}}" onclick="return confirm('Are you sure you want to DELETE this sample {{sample.id}}?');">Delete</button>
			</form>
		{%endif%}
		</td>
         </tr>


{% endfor %}
        </tbody>
</table>

{% else %}
  <div class="panel-body" style="width: 95%;margin-left:auto;margin-right:auto;">
        <div class="well well-sm" style="margin-bottom: 2px;"><strong>No Sample added for this experiment</div></strong>
  </div>

{% endif %}
	<div style="position:relative;text-align:center;width=90%;">
	{%if experiment.created_by.NTID.upper == user.username.upper or user.username.upper in auth_users|key:experiment.experiment_id%}
		<input type="submit" class="btn btn-primary" style="position:relative;margin-right: 50px;" value="Add New Sample" onclick="popupwindow('/virtual/get/{{experiment.experiment_id}}/addsample/','Add Sample',700,770)">

		<input type="submit" class="btn btn-primary" style="position:relative;margin-right: 50px;" value="Edit Existing Samples" onclick="popupwindow('/virtual/get/{{experiment.experiment_id}}/editsample/','Edit Samples',950,950)">
	{%endif%}

	<a href="/virtual/export/{{experiment.experiment_id}}/samplesheet/" class="btn btn-primary" style="position:relative;">Generate SampleSheet</a>
	</div>
<hr>
  </div>
<hr>

 </div> <!--tab 1-->
 

 <div class="tab-pane fade" id="logs">
<!-- Post Section -->

	<div class="panel panel-success" style="width:95%;margin-top:20px;margin-left:auto;margin-right:auto;">
	  <div class="panel-heading" >
	    <h3>Logs</h3>
	  </div>
	</div>


{% if posts.count %}

    <div class="container"  >
        <div style="background-image:url({% static "images/note-bg.png" %});opacity: 0.4;filter: alpha(opacity=40);"></div>
	<div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {% for p in posts %}
                <div class="post-preview">
                    <a href="/blog/user{{username}}/{{p.pk}}">
                        <h2 class="post-title">
                            {{p.subject}}
                        </h2>
                    </a>
                    <h4 class="post-subtitle">
                        {{p.content}}
                        <!--
                        p.content[:300]|safe...
                        --!>
                        </h4>
                    <p class="post-meta">Posted by {% autoescape off %}{{p.created_by.get_taged_investigator_name}}{% endautoescape %} on {{p.created_date}}</p>

                {%if p.updated_by.NTID != None %}
                <p>Last Modified by {% autoescape off %}{{p.updated_by.get_taged_investigator_name}}{% endautoescape %} on {{p.updated_date}}</p>
                {%endif%}


                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

{% else %}
  <div class="panel-body" style="width: 95%;margin-left:auto;margin-right:auto;">
        <div class="well well-sm" style="margin-bottom: 2px;"><strong>No Log added for this experiment.</strong> 
  {%if experiment.created_by.NTID.upper == user.username.upper or user.username.upper in auth_users|key:experiment.experiment_id%}
	<a href="/virtual/get/{{experiment.experiment_id}}/log/new/">Add one now!</a>
	{%endif%}
  </div>
  </div>
  {% endif%}

  <div style="position:relative;text-align:center;width=90%;">
  {%if experiment.created_by.NTID.upper == user.username.upper or user.username.upper in auth_users|key:experiment.experiment_id%}
	<a href="/virtual/get/{{experiment.experiment_id}}/log/new/" class="btn btn-primary" style="position:relative;margin-right: 50px;">Add Log</a>
	<a href="/virtual/console/log/" class="btn btn-primary" style="position:relative;margin-right: 50px;">Logging Center</a>
  {%endif%}
 	<a href="/virtual/export/{{experiment.experiment_id}}/log/" class="btn btn-primary" style="position:relative;margin-right: 50px;">Download Logs</a>

  </div><!--panel-body-->
<hr>
 </div>  <!--tab 2-->


  <div class="tab-pane fade" id="ana">
        <div class="panel panel-info" style="width:95%;margin-top:20px;margin-left:auto;margin-right:auto;">
          <div class="panel-heading" >
            <h3>Analysis</h3>
          </div>
        </div>

	{% if experiment.finish_flag == "Submitted" %}
          <div class="panel-body" style="width: 95%;margin-left:auto;margin-right:auto;">
             <div class="well well-sm" style="margin-bottom: 2px;"><strong>The Experiment Is Submitted For Analysis! Please Waiting For Response!
             </div>
	  </div>
        {% endif%}

	
        {% if experiment.finish_flag == "Finished" %}
          <div class="panel-body" style="width: 95%;margin-left:auto;margin-right:auto;">
           <div class="well well-sm" style="margin-bottom: 2px;"><strong>The Experiment Is Marked As "Finished" Now! If Provided With The MiSeq Output Folder, The Experiment Is submitted For Analysis!</a>
	  </div>
        </div>
        {% endif%}


        {% if experiment.finish_flag == "Returned" %}
          <div class="panel-body" style="width: 95%;margin-left:auto;margin-right:auto;">
            <div class="well well-sm" style="margin-bottom: 2px;"><strong>The Analysis is Finished! You Can View The Result <a href={{experiment.result_folder}}'> Here</a>
            </div>
	  </div>
        {% endif%}


        {% if experiment.finish_flag == "Terminated" %}
          <div class="panel-body" style="width: 95%;margin-left:auto;margin-right:auto;">
                <div class="well well-sm" style="margin-bottom: 2px;"><strong>The Experiment Is Terminated!
                </div>

	  </div>
        {% endif%}


        {% if experiment.finish_flag == "Ongoing" %}
          <div class="panel-body" style="width: 95%;margin-left:auto;margin-right:auto;">
          <div class="well well-sm" style="margin-bottom: 2px;"><strong>The Experiment Is Marked As "Ongoing" Now!
           {%if experiment.created_by.NTID.upper == user.username.upper or user.username.upper in auth_users|key:experiment.experiment_id%}
                <a href="/virtual/finish/{{experiment.experiment_id}}/">Change It To "Finished" and Submit For Analysis!</a>
           {%endif%}
          </div>
        </div>
        {% endif%}
        <hr>
  </div>

<hr>

</div>

{% endblock %}

