<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
<html>
{% block script %}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" />


<script>
$.extend( $.fn.dataTable.defaults, {
    "searching": true,
    "ordering": true
} );

$(document).ready(function() {

    //hide empty columns
    $('#recent tr th').each(function(i) {
     //select all tds in this column
     var tds = $(this).parents('table')
              .find('tr td:nth-child(' + (i + 1) + ')');
        //check if all the cells in this column are empty
        if(tds.length == tds.filter(':empty').length) {
            //hide header
            $(this).hide();
            //hide cells
            tds.hide();
        }
    });

    $('#recent').dataTable( {
	"scrollX": true,
	"order": [[ 2, "desc" ]],
	"pageLength": 100,
	//"oSearch": {"sSearch": "{{g}}"},
	"aoSearchCols": [null,{ "sSearch": "{{p}}"},null,{ "sSearch": "{{u}}"},null,null],	

	"columnDefs": [
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                className: "dt-center",
                "render": function ( data, type, row ) {
                    return data;
                },
                "targets": "_all"//[0,1,2,3,4,5]
            },
            //{ "visible": false,  "targets": [ 4 ] }
        ]

    } );
} );
</script>



{% endblock%}
<body>
{%block content %}

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/physical/">Finished MiSeq</a></li>
  <li class="active">Search</li>
</ul>
<hr>
<!--
<ul class="nav nav-tabs">
  <li class=""><a href="#home" data-toggle="tab" aria-expanded="false">Full Text Search</a></li>
  <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">Key Word Search</a></li>
  <li class="disabled"><a>Admin</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      Advanced <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#dropdown1" data-toggle="tab">General Search</a></li>
      <li class="divider"></li>
      <li><a href="#dropdown2" data-toggle="tab">Sample Search</a></li>
    </ul>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" id="home">
  <p></p>
  </div>
  <div class="tab-pane fade active in" id="profile">
  <p></p>
  </div>
  <div class="tab-pane fade" id="dropdown1">
  <p></p>
  </div>
  <div class="tab-pane fade" id="dropdown2">
  <p></p>
  </div>
</div>
--!>
<table id="recent" class="display" cellspacing="0" width="90%">
        <thead>
            <tr>
                <th>virtual_id</th>
                <th>miSeqId</th>
                <th>analysisId</th>
		<th>InvestigatorName</th>
                <th>Date</th>
                <th>ProjectName</th>
                <th>ExperimentName</th>
                <th>refLib</th>
                <th>Sample_ID</th>
                <th>Sample_Name</th>
                <th>group</th>
                <th>I7_Index_ID</th>
		<th>index</th>
                <th>IEMFileVersion</th>
                <th>Workflow</th>
                <th>Application</th>
                <th>Assay</th>
                <th>Description</th>
		<th>Chemistry</th>
                <th>CustomRead1PrimerMix</th>
                <th>Adapter</th>
                <th>ReverseComplement</th>
                <th>AdapterRead2</th>
                <th>refLib.ori</th>

	    </tr>
        </thead>

        <tbody>
                {% for experiment in experiments %}
                        <tr>
				<td>{{experiment.virtual_id}}</td>
                                <td>{{experiment.miSeqId}}</td>
                                <td>{{experiment.analysisId}}</td>
                                <td>{{experiment.InvestigatorName}}</td>
                                <td>{{experiment.Date}}</td>
                                <td>{{experiment.ProjectName}}</td>
                                <td>{{experiment.ExperimentName}}</td>
                                <td>{{experiment.refLib}}</td>
                                <td>{{experiment.Sample_ID}}</td>
                                <td>{{experiment.Sample_Name}}</td>
                                <td>{{experiment.group}}</td>
                                <td>{{experiment.I7_Index_ID}}</td>
                                <td>{{experiment.index}}</td>
                                <td>{{experiment.IEMFileVersion}}</td>
                                <td>{{experiment.Workflow}}</td>
                                <td>{{experiment.Application}}</td>
                                <td>{{experiment.Assay}}</td>
                                <td>{{experiment.Description}}</td>
                                <td>{{experiment.Chemistry}}</td>
                                <td>{{experiment.CustomRead1PrimerMix}}</td>
                                <td>{{experiment.Adapter}}</td>
                                <td>{{experiment.ReverseComplement}}</td>
                                <td>{{experiment.AdapterRead2}}</td>
                                <td>{{experiment.refLib.ori}}</td>
			</tr>

                {% endfor %}
        </tbody>
</table>



{%endblock%}

</body>
</html>
