{% extends "base.html" %}
{% load staticfiles %}
{%block script%}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}" />
<script>
$(document).ready(function() {
    $('#sample').dataTable( {
        "scrollX": true,
	"pageLength": 100,
	"columnDefs": [
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function ( data, type, row ) {
                    return data;
                },
                "targets": 0
            },
            //{ "visible": false,  "targets": [ 4 ] }
        ]
    } );
} );
</script>


{%endblock%}

{% block content %}


<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 style="float:left;margin-top: 2px;margin-bottom: 0px;margin-right: 50px;">CCLE Library</h2>
      <input type="submit" class="btn btn-default" style="position:relative;margin-right: 50px;" value="Submit Modification Request" onclick="popupwindow('/virtual/cclelibrary/request/','',700,700)">
    <a href="/media/db/latest/CcleLibrary.xls" class="btn btn-info" style="position:relative;float:right;">Export</a>
  </div>
 </div>


<table id="sample" class="display" style="width: 95%;margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th>CCLE_name</th>
		<th>Cell_line_primary_name</th>
                <th>Disease_Area</th>
                <th>Gender</th>
                <th>Site_Primary</th>
                <th>Histology</th>
                <th>Hist_Subtype1</th>
                <th>approvalStatus</th>
            </tr>
        </thead>

        <tbody>


        {% for item in object_list %}


         <tr>
                <td>{{item.CCLE_name}}</td>
        	<td>{{item.Cell_line_primary_name}}</td>
                <td>{{item.Disease_Area}}</td>
                <td>{{item.Gender}}</td>
                <td>{{item.Site_Primary}}</td>
                <td>{{item.Histology}}</td>
                <td>{{item.Hist_Subtype1}}</td>
                <td>{{item.get_approvalStatus_display}}</td>

	</tr>


{% endfor %}
        </tbody>
</table>



{% endblock %}
