<!DOCTYPE html>
{% extends "base.html" %}
<html>

{% block script%}
{%endblock%}

{%block content%}

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/virtual">Virtual MiSeq</a></li>
  <li class="active">{{title}}</li>
</ul>

<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Congratuations!</strong> Your action is successfully saved!
</div>

<div style="position:relative;text-align:center;">
<br>

{%if mode == "new"%}
<a href="/virtual/edit/{{ experiment_id }}/" class="btn btn-primary btn-lg" style="margin-right: 20px;">Back to Edit</a>
<a href="/virtual/get/{{ experiment_id }}/" class="btn btn-primary btn-lg" style="margin-right: 20px;">Add Samples</a>
<a href="/virtual/new/" class="btn btn-primary btn-lg" style="margin-right: 20px;">Add Another Experiment</a>

{%else%}
<a href="/virtual/" class="btn btn-primary btn-lg" style="margin-right: 20px;">Main Page</a>
<a href="/virtual/new/" class="btn btn-primary btn-lg" style="margin-right: 20px;">Add Another Experiment</a>
{%endif%}

</div>
<br>
{%endblock%}
</html>
