<!DOCTYPE html>
{% extends "base.html" %}
<html>

{% block script%}
{%endblock%}

{%block content%}

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/virtual">Virtual MiSeq</a></li>
  <li class="active">Create New Experiment</li>
</ul>

<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Congratuations!</strong> Your action is successfully saved!
</div>

<div align='middle'>
<br>

<a href="/virtual/" class="btn btn-primary btn-lg">Go Back</a>


<div class="btn-group">
  <a href="/virtual/get/{{ experiment_id }}/" class="btn btn-primary btn-lg">Review</a>
  <a href="#" class="btn btn-primary dropdown-toggle btn-lg" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Edit</a></li>
    <li><a href="#">Delete</a></li>
    <li class="divider"></li>
    <li><a href="#">Sharable link</a></li>
  </ul>
</div>

<a href="/virtual/new/" class="btn btn-primary btn-lg">Continue Adding</a>

</div>
<br>
{%endblock%}
</html>
