<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}

{%block content  %}

<div id='projctname'  style="width: 90%;margin-left:auto;margin-right:auto;">
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h2 >Example: Project Name</h2>
  </div>
 <div class="panel-body">
        <div class="well" style="margin-bottom: 2px;"><strong>project_name_example_here</strong></div>
        <div class="well" style="margin-bottom: 2px;"><strong></strong></div>
        <div class="well" style="margin-bottom: 2px;"><strong></strong></div>
  </div>
 </div>
</div>

<div id='desc'  style="width: 90%;margin-left:auto;margin-right:auto;">
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h2 >Example: Description</h2>
  </div>
 <div class="panel-body">
        <div class="well" style="margin-bottom: 2px;"><strong>T8 - dox dox GFPplus</strong></div>
        <div class="well" style="margin-bottom: 2px;"><strong>HT29 T8 duplicate</strong></div>
        <div class="well" style="margin-bottom: 2px;"><strong>H1792 with 4029_NRF2 Library</strong></div>
  </div>
 </div>
</div>

<div id='tag'  style="width: 90%;margin-left:auto;margin-right:auto;">
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h2 >Example: Other Tag</h2>
  </div>
 <div class="panel-body">
        <div class="well" style="margin-bottom: 2px;"><strong>other_tag_example_here</strong></div>
        <div class="well" style="margin-bottom: 2px;"><strong></strong></div>
        <div class="well" style="margin-bottom: 2px;"><strong></strong></div>
  </div>
 </div>
</div>


{%endblock%}
